@media print {
  @page {
    margin: 0;
    size: 5in 3in;
  }
  body {
    margin: 0;
    font-family: courier;
  }
  
  .border {
    border: 1px solid white !important;
  }
}

body {
  background-color: white;
  font-family: courier;
  font-size: 12px;
}

.border {
  border: 1px solid grey;
}